FLASK_APP=app # Esta variable se establece en `app`, que es el nombre del paquete principal de la aplicación. Indica a Flask dónde encontrar la aplicación a ejecutar.
FLASK_DEBUG=1 # Esta variable se establece en `1` para habilitar el modo de depuración, lo que permite ver errores detallados y recargar la aplicación automáticamente durante el desarrollo. Para producción, esta variable debe configurarse en `0` para desactivar el modo de depuración y mejorar la seguridad.